<!-- messages.html -->
{% extends 'base.html' %}

{% block title %}消息中心{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <!-- Nav tabs -->
            <div class="col-lg-2" style="margin-left:-435px;">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#d1" aria-controls="d1" role="tab" data-toggle="tab">我的评论</a>
                    </li>
                    <li role="presentation">
                        <a href="#d2" aria-controls="d2" role="tab" data-toggle="tab">我的点赞</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="col-lg-10 tab-content">

                <div role="tabpanel" class="tab-pane active" id="d1">
                    <div class="panel panel-default">
                        <div class="panel-heading">最新评论 <span class="badge">5</span></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前评论了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前评论了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前评论了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前评论了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前评论了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="d2">
                    <div class="panel panel-default">
                        <div class="panel-heading">最新点赞 <span class="badge">3</span></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前点赞了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前点赞了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Yii </a>用户10分钟前点赞了你...
                                <a class="pull-right" href="#">详情</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}